﻿@model ufmt.gcdh.Models.Curso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Curso</legend>

    <div class="display-label">cursoUID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cursoUID)
    </div>

    <div class="display-label">nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">Formulario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Formulario.titulo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
