﻿@model IEnumerable<ufmt.gcdh.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h4>Cursos Com Inscrições Abertas</h4>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
<div class="error-box"> 
    <div class="error-message">
    @ViewBag.ErrorMessage
    </div>
</div>
}

<table id="course-into" width="881" border="0">
    <tr>
        <th>
            Cursos
        </th>
    </tr>

@if(Model.Count() > 0) {
foreach (var item in Model)
{
    <tr>
        <td>
            <span>
                @Html.ActionLink(item.nome, "SelecionarCurso", new { id = item.cursoUID, form = item.formularioUID })
            </span>
        </td>
    </tr>
    }
} else {
    <tr>
        <td>
            <span>
                Nenhum Curso com Inscrição Aberta no Momento
            </span>
        </td>
    </tr>
}

</table>
