﻿@model ufmt.gcdh.Models.Turma

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Turma</legend>

    <div class="display-label">turmaUID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.turmaUID)
    </div>

    <div class="display-label">quantidadeVagas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantidadeVagas)
    </div>

    <div class="display-label">Curso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Curso.nome)
    </div>

    <div class="display-label">nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">periodo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.periodo)
    </div>

    <div class="display-label">local</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.local)
    </div>

    <div class="display-label">ativo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ativo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
