﻿@model IEnumerable<ufmt.gcdh.Models.Turma>

@{
    ViewBag.Title = "Index";
    string message = (string)TempData["message"];
}
@if (Model.Count() > 0)
{
<h4>@Model.First().Curso.nome</h4>
}
@using (Html.BeginForm("SelecionarTurma", "turma", new { model = Model }))
{

<table id="course-into" width="881" border="0">
    <tr>
        <th>
            Polo
        </th>
    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>
                        <label>
                        @Html.RadioButton("turmaUID", item.turmaUID)        
                        @Html.DisplayFor(modelItem => item.nome)
                        </label>
                    </span>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
                <td colspan="2">
                    <span>
                        @message
                    </span>
                </td>
            </tr>
        
    }

<tr>
    <td colspan="2">
        
        <input type="submit" value="Inscrever-se" class="lognbtn" />    
    </td>
</tr>

</table>
}