﻿@model ufmt.gcdh.Models.Inscricao

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Inscricao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.inscricaoUID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.inscricaoUID)
            @Html.ValidationMessageFor(model => model.inscricaoUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.turmaUID, "Turma")
        </div>
        <div class="editor-field">
            @Html.DropDownList("turmaUID", String.Empty)
            @Html.ValidationMessageFor(model => model.turmaUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pessoaUID, "Pessoa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("pessoaUID", String.Empty)
            @Html.ValidationMessageFor(model => model.pessoaUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.listaEspera)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.listaEspera)
            @Html.ValidationMessageFor(model => model.listaEspera)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dataInscricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dataInscricao)
            @Html.ValidationMessageFor(model => model.dataInscricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.professorExternoUID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.professorExternoUID)
            @Html.ValidationMessageFor(model => model.professorExternoUID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
