﻿@model ufmt.gcdh.Models.Inscricao

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Inscricao</legend>

    <div class="display-label">inscricaoUID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inscricaoUID)
    </div>

    <div class="display-label">Turma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Turma.nome)
    </div>

    <div class="display-label">Pessoa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pessoa.nome)
    </div>

    <div class="display-label">listaEspera</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.listaEspera)
    </div>

    <div class="display-label">dataInscricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataInscricao)
    </div>

    <div class="display-label">professorExternoUID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.professorExternoUID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
