﻿@model ufmt.gcdh.Models.Inscricao

@{
    ViewBag.Title = "Details";
}

<h4>Pré-Inscrição Realizada</h4>
<div class="mensag-fim">

    <div class="display-label">
        <strong>
            Turma:
        </strong>
    </div>
    <div class="display-field">        
        @Html.DisplayFor(model => model.Turma.nome)
    </div>

    <div class="display-label">
        <strong>
            Aluno:
        </strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pessoa.nome)
    </div>    
</div>
