﻿@model IEnumerable<ufmt.gcdh.Models.Inscricao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            inscricaoUID
        </th>
        <th>
            Turma
        </th>
        <th>
            Pessoa
        </th>
        <th>
            listaEspera
        </th>
        <th>
            dataInscricao
        </th>
        <th>
            professorExternoUID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.inscricaoUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turma.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listaEspera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professorExternoUID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
