@charset "utf-8";
body {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #00376C;
	margin: 0px;
	background-image: url(imagens/ufmtsign.gif);
	background-repeat: no-repeat;
	background-position: 50% top;
}
#content-box {
	width: 890px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-image: url(imagens/shadbg.jpg);
	background-repeat: repeat-x;
	border: 1px solid #E5E5E5;
	background-color: #EBEBEB;
	border-radius: 8px;
	padding-bottom: 10px;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
}
#content-box .patdisp {
	color: #666;
	display: block;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 16px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#content-box h4 {
	display: block;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	margin-bottom: 5px;
	background-color: #E0E1E2;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.mensag-fim {
	display: block;
	margin-left: 15px;
	font-size:14px;
}


.coutitle {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #333;
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-left: 10px;
	width: 780px;
}
.count-mg {
	display: block;
	height: 72px;
	background-image: url(imagens/arrowicon.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 890px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#login-box-crate {
	height: 235px;
	width: 200px;
	margin-top: 80px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#login-box-crate span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #444444;
	display: block;
	margin: 0px;
}
#login-box-crate p {
	display: block;
	margin: 0px;
}
#login-box-crate h3 {
	font-size: 16px;
	color: #333;
	text-decoration: none;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
}

.lognbx {
	padding: 5px;
	border: 1px solid #D2D2D2;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	width: 190px;
	margin-bottom: 8px;
}
.lognbx:hover, .lognbx:focus {
	border: 1px solid #999;
}
.lognbtn {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	padding: 5px;
	height: 30px;
	width: 91px;
	background-image: url(imagens/btnbg.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
}
#course-into {
	margin-left: 10px;
	margin-bottom: 15px;
}
#course-into span {
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding: 5px;
	background-image: url(imagens/ctbg.jpg);
	background-repeat: repeat-x;
	border: 1px solid #D6D6D6;
	border-radius: 5px;
	background-color: #EDEDED;	
}
#course-into input {
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}

#course-into span label {
	display: block;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

#course-into span a {
	color: #333;
	text-decoration: none;
	display: block;
}
#course-into span a:hover {
	text-decoration: underline;
}


#course-into p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	display: block;
	margin-left: 4px;
	font-weight: bold;
	margin-bottom: 2px;
}
#course-into .strng {
	color: #FFF;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	background-color: #063;
	padding: 5px;
	text-align: center;
}
#course-into b {
	font-size: 12px;
	color: #3F3F3F;
	text-decoration: none;
	font-weight: normal;
	padding: 5px;
	display: block;
	width: 220px;
}

.rline {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D6D6D6;
}

.error-box 
{
    width:98%;
    padding:10px;
    background:#F8E0E0;
}
.error-message 
{
    font-size:12px;
    color: #B40404;
    font-weight:bold;
}

#logindisplay 
{
    padding-top:10px;
    padding-right:5px;
    font-size:12px;
    color: #424242;
    text-align:right;
}

.links-usuario 
{
    font-size:12px;
    float:left;
    width:350px;
    margin-left:-50px;
}

.links-usuario p 
{
    padding-top:10px;
}

.links-usuario a 
{
    font-weight:bold;
    color:#333366;
}