﻿@model ufmt.gcdh.ViewModel.LoginPageViewModel

@{
    ViewBag.Title = "Login";
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="error-box"> 
        <div class="error-message">
        @ViewBag.error
        </div>
    </div>
}
<div id="login-box-crate">
        <h3>Autenticação Integrada</h3>
@using (Html.BeginForm("login", "account", new { viewModel = Model, formUID = ViewBag.formUID })) {
    @Html.ValidationSummary(true)    
           
        <span>
            CPF: 
        </span>
        <p>
            @Html.TextBoxFor(model => Model.UserName, new { @class = "lognbx" })            
            @Html.ValidationMessageFor(model => model.UserName)
        </p>
        <span>
            Senha: 
        </span>
        <p>
            @Html.PasswordFor(model => model.Password, new { @class = "lognbx" })
            @Html.ValidationMessageFor(model => model.Password)
        </p>
        <p>
            <input type="submit" value="Acessar" class="lognbtn" />
        </p>    
    <div class="links-usuario">
    <p>
    Caso não possua acesso à Autenticação Integrada da UFMT, 
    <a href="http://sistemas.ufmt.br/ufmt.usuario/webapp/FrmNovoUsuario.aspx" target="_blank">
    clique aqui</a>
     para criar um novo usuário.
    </p>
    <p>
    Caso tenha esquecido sua senha, 
    <a href="http://sistemas.ufmt.br/ufmt.usuario/webapp/FrmRecuperarSenha.aspx">clique aqui</a>
    para recuperá-la
    </p>
    </div>
}
</div>

