﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Formulário de Pré-Inscrição para Cursos de Capacitação Online - CDH / UFMT</title>
    
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/estilo.css")" rel="Stylesheet" />
</head>
<body>
    <div class="count-mg">
<h2 class="coutitle"> Formulário de Pré-Inscrição para Cursos de Capacitação Online - CDH / UFMT</h2>

</div>
            
        </header>
        <section id="content-box">
        <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            @RenderBody()
        </section>
</body>
</html>
